body{
    margin: 0;
    color: #34495e;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.container, .formbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    background: #6fa5f6;
    flex-direction: column;
}

.formbox{
    background: #121726;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.625rem;
}

.formbox .fa-lock{
    color: #fff;
    font-size: 1.375rem;
    position: relative;
    margin-right: 0.3125rem;
}

input{
    border-radius: 0.3125rem;
    border: none;
    color: #575dbc;
    font-size: 1.375rem;
    outline: none;
    margin-left: 0.9375rem;
    display: inline;
    background: none;
    transition-delay: 0.2s;
}

.inner{
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 5px;
    width: 250px;
    clip-path: circle(8% at 87.2% 49.2%);
    transition: all .25s ease-out;
    position: absolute;
    overflow: hidden;
}

.inner:hover{
    clip-path: circle(75%);
    background: #fff;
}

.color-change{
    transition-delay: 0.2s;
    color: #121726 !important;
}

.validator{
    margin-top: 20px;
    width: 310px;
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 7px, 20px, 0px;
    background-color: #121726;
    display: none;
}